{ 
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
  },
  "plugins": [
    "import",
    "node",
  ],
  "rules": {
    "quotes": [ ERROR, "single" ],
    "no-const-assign": ERROR,
    "no-var": ERROR,
    "no-new-object": ERROR,
    "object-shorthand": ERROR,
    "quote-props": [ERROR, "as-needed"],
    "no-prototype-builtins": ERROR,
    "no-array-constructor": ERROR,
    "array-callback-return": ERROR,
    "prefer-destructuring": ERROR,
    "prefer-template": ERROR,
    "no-eval": ERROR,
    "no-useless-escape": ERROR,
    "wrap-iife": [ERROR, "inside"],
    "no-loop-func": ERROR,
    "prefer-rest-params": ERROR,
    "no-new-func": ERROR,
    // prettier doesnt play well with this rule
    // https://github.com/prettier/prettier/issues/3847
    // "space-before-function-paren": [ERROR, "always"],
    "no-param-reassign": ERROR,
    "prefer-spread": ERROR,
    "function-paren-newline": [ERROR, "consistent"],
    "prefer-arrow-callback": ERROR,
    "arrow-spacing": ERROR,
    "arrow-body-style": ERROR,
    "arrow-parens": [ERROR, "as-needed"],
    "no-confusing-arrow": ERROR,
    "implicit-arrow-linebreak": ERROR,
    "no-useless-constructor": ERROR,
    "no-dupe-class-members": ERROR,
    "no-duplicate-imports": ERROR,
    "import/no-mutable-exports": ERROR,
    "import/prefer-default-export": ERROR,
    "import/first": ERROR,
    "import/no-webpack-loader-syntax": ERROR,
    "no-iterator": ERROR,
    "generator-star-spacing": ERROR,
    "dot-notation": ERROR,
    "no-restricted-properties": [ERROR, {
        "object": "Math",
        "property": "pow",
        "message": "Use ** operator instead."
    }],
    "no-undef": ERROR,
    "prefer-const": ERROR,
    "one-var": [ERROR, "never"],
    "no-multi-assign": ERROR,
    "no-unused-vars": ERROR,
    "eqeqeq": ERROR,
    "no-case-declarations": ERROR,
    "no-nested-ternary": ERROR,
    "no-unneeded-ternary": ERROR,
    // "no-mixed-operators": ERROR,
    "nonblock-statement-body-position": ERROR,
    "brace-style": ERROR,
    "no-else-return": ERROR,
    "spaced-comment": ERROR,
    "indent": [ERROR, 2],
    "space-before-blocks": ERROR,
    "keyword-spacing": ERROR,
    "space-infix-ops": ERROR,
    "eol-last": ERROR,
    "newline-per-chained-call": ERROR,
    "no-whitespace-before-property": ERROR,
    "padded-blocks": [ERROR, "never"],
    "space-in-parens": ERROR,
    "array-bracket-spacing": ERROR,
    "object-curly-spacing": [ERROR, "always"],
    "max-len": [ERROR, {
      "code": 100,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "block-spacing": ERROR,
    "comma-spacing": ERROR,
    "computed-property-spacing": ERROR,
    "func-call-spacing": ERROR,
    "key-spacing": ERROR,
    "no-trailing-spaces": ERROR,
    "no-multiple-empty-lines": ERROR,
    "comma-style": ERROR,
    "comma-dangle": [ERROR, "only-multiline"],
    "semi": ERROR,
    "no-new-wrappers": ERROR,
    "radix": ERROR,
    "id-length": [ERROR, {"min": 2, "max": 32, "exceptions": ["i","j","k","r","g","b"]}],
    "camelcase": ERROR,
    "new-cap": ERROR,
    "no-underscore-dangle": ERROR,
    "no-restricted-globals": ERROR,
  }
}